.supportinfo {
font-size: 14px;
margin: 0 0 20px 5px;
padding:0
} 
.supportinfo a {
font-size: 14px;
}  

.supportinfo a:hover {
font-size: 14px;
text-decoration:underline;
color:#E47B3A;
} 

#amazonsorter{
width:550px;
height:50px;
float:right;
margin:-20px 5px 0px 10px;
} 